<div class="">

  <div class="traffic-chart" id="trafficChart">

      <canvas class="chart-area" ></canvas>

  </div>

  <!-- <div class="channels-info">
    <div>
      <div class="channels-info-item" *ngFor="let item of doughnutData">
        <div class="legend-color" [ngStyle]="{'background-color': item.color }"></div>
        <p>{{ item.label }}<span class="channel-number">{{ item.percentage }}%</span></p>
        <div class="progress progress-sm channel-progress">
          <div class="progress-bar" role="progressbar"
               [attr.aria-valuenow]="item.percentage" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width: item.percentage + '%' }">
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
