 <div class="row">
  <div class="col-md-12">
    <ba-card cardTitle="ckeditor" baCardClass="with-scroll">
      <ckeditor [(ngModel)]="ckeditorContent" [config]="config"></ckeditor>
    </ba-card>
  </div>
</div>


 <div class="row ">
   <div class="col-sm-8" style="color:#fff;">

   </div>
 <div class="col-sm-3">
   <my-date-picker name="mydate" [options]="myDatePickerOptions"
                   [(ngModel)]="model" required></my-date-picker>

   <select>
     <option value="volvo">tc_Data_20170711121830350</option>
     <option value="saab">tc_Data_20170711121830351</option>
     <option value="mercedes">tc_Data_20170711121830352</option>
     <option value="audi">tc_Data_20170711121830353</option>
   </select>

 </div>

 </div>

 <div class="row">
  <div class="col-md-6">
    <ba-card cardTitle="Channel & Classification Distribution" baCardClass="with-scroll">
      <nvd3 [options]="options" [data]="data"></nvd3>
    </ba-card>
  </div>

  <div class="col-md-6">
    <ba-card cardTitle="Classification Method Trend" baCardClass="with-scroll">
  <stack-chart></stack-chart>
    </ba-card>
  </div>
</div>
