<!-- <div class="col-md-6">
  <ba-card cardTitle="tree_view.title">
    <tree id="tree-view" [tree]="tree"></tree>
  </ba-card>
</div> -->

<div class="row">
  <div class="col-md-6">
    <ba-card cardTitle="Batch Aggregated Analysis">
      <stack-chart></stack-chart>
    </ba-card>
  </div>
  <div class="col-md-6">
    <ba-card cardTitle="Batch Scheduling">
      <gantt [project]="project" [options]="options" (onGridRowClick)="gridRowClicked($event)"></gantt>

      <div *ngIf="project">
          <!-- <h1>Project</h1>
          <input type="text" [(ngModel)]="project.name"/>
          <table>
              <thead>
                  <tr>
                      <td>Id</td>
                      <td>Name</td>
                      <td>Tree Path</td>
                      <td>Percent Complete</td>
                      <td>Start Date</td>
                      <td>End Date</td>
                      <td></td>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let task of project.tasks">
                      <td><input style="width:100%" type="text" [(ngModel)]="task.id"/></td>
                      <td><input style="width:100%" type="text" [(ngModel)]="task.name"/></td>
                      <td><input type="width:100%" type="text" [(ngModel)]="task.treePath"/></td>
                      <td><input type="number" [(ngModel)]="task.percentComplete" min="0" max="100"/>
                      <td><input type="text" [(ngModel)]="task.start"/></td>
                      <td><input type="text" [(ngModel)]="task.end"/></td>
                  </tr>
              </tbody>
          </table> -->

          <!-- <h1>Playground</h1>
          Task Status:
          <select #taskStatus>
              <option>Error</option>
              <option>Warning</option>
              <option>Information</option>
              <option>Completed</option>
          </select>
          <button (click)="createTask(taskStatus)">Create Task</button>
          <button (click)="updateTasks()">Update Tasks Percent Complete</button>
          <button (click)="loadBigDataSet()">Load big dataset</button> -->

          <!-- <h1>Output</h1>
          <p>{{ project | json }}</p> -->

      </div>

    </ba-card>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ba-card cardTitle="Batch Statistics">
      <div class="widgets">
       <table class="table table-striped" style="display:block;height:400px; overflow-y:scroll">
          <thead>
              <tr>
                  <th style="width: 30%">
                      EDH Batch ID
                  </th>
                  <th style="width: 40%">
                      NPD Batch ID
                  </th>
                  <th style="width: 10%">
                    Start Time
                  </th>
                  <th style="width: 10%">
                      End Time
                  </th>
                  <th style="width: 10%">
                      ETA
                  </th>
                  <th style="width: 10%">
                      Execution Time
                  </th>
                  <th style="width: 10%">
                    No. of records
                  </th>
                  <th style="width: 10%">
                    Status
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr >
                 <td>1230</td>
                                  <td>1111</td>
                                                   <td>7/17/2017 10:20</td>
                                                   <td>7/17/2017 10:20</td>
                                                   <td>5:50:00</td>
                                                   <td>5:45:00</td>
                                                   <td>13455</td>
                                                   <td>Success</td>

              </tr>
              <tr >
                 <td>1230</td>
                                  <td>1111</td>
                                                   <td>7/17/2017 10:20</td>
                                                   <td>7/17/2017 10:20</td>
                                                   <td>5:50:00</td>
                                                   <td>5:45:00</td>
                                                   <td>13455</td>
                                                   <td>Success</td>

              </tr>
              <tr >
                 <td>1230</td>
                                  <td>1111</td>
                                                   <td>7/17/2017 10:20</td>
                                                   <td>7/17/2017 10:20</td>
                                                   <td>5:50:00</td>
                                                   <td>5:45:00</td>
                                                   <td>13455</td>
                                                   <td>Success</td>

              </tr>
              <tr >
                 <td>1230</td>
                                  <td>1111</td>
                                                   <td>7/17/2017 10:20</td>
                                                   <td>7/17/2017 10:20</td>
                                                   <td>5:50:00</td>
                                                   <td>5:45:00</td>
                                                   <td>13455</td>
                                                   <td>Success</td>

              </tr>
              <tr >
                 <td>1230</td>
                                  <td>1111</td>
                                                   <td>7/17/2017 10:20</td>
                                                   <td>7/17/2017 10:20</td>
                                                   <td>5:50:00</td>
                                                   <td>5:45:00</td>
                                                   <td>13455</td>
                                                   <td>Success</td>

              </tr>
          </tbody>
      </table>
      </div>
    </ba-card>
  </div>
  <div class="col-md-6">
    <ba-card cardTitle="JobWise Batch Execution">

    </ba-card>
  </div>
</div>
