hi class stats page


<div class="row">
        <div class="col-md-6">
          <ba-card cardTitle="Channel & Classification Distribution" baCardClass="with-scroll">
            <nvd3 [options]="options" [data]="data"></nvd3>
          </ba-card>
        </div>
      
        <div class="col-md-6">
          <ba-card cardTitle="Classification Method Trend" baCardClass="with-scroll">
        <line-chart></line-chart>
          </ba-card>
        </div>
      </div>
      