<div class="channels-block">


  <div class="stack-chart" id="stackChart" >

      <canvas class="stackchart-area" width="300px" height="210px"></canvas>

    <div class="traffic-legend"></div>
  </div>

</div>
