<div class="row ">
  <div class="offset-sm-7 col-sm-5">
    <div class="row">
      <div class="col-sm-6">
        <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="model" required></my-date-picker>
      </div>
      <div class="col-sm-6">
        <!-- <select>
    <option *ngFor="let batchid of batchids" value= {{batchid}}>
      {{batchid}}
    </option>
  </select> -->

        <select style="height:35px;padding:5px; border-radius:5px;">
      <option value="volvo">tc_Data_20170711121830350</option>
      <option value="saab">tc_Data_20170711121830351</option>
      <option value="mercedes">tc_Data_20170711121830352</option>
      <option value="audi">tc_Data_20170711121830353</option>
    </select>
      </div>
    </div>
  </div>

</div>
<div class="row">

  <ba-card class="col-xlg-12 col-xl-12 col-lg-12 col-sm-12 col-12" cardTitle="Classification Statistics" baCardClass="traffic-panel medium-card">
    <a href="/#/pages/classStats">go to class stas detail page</a>
    <button (click)="getCsMetrics()">create pie chart from real mock data</button>
    <div class="row">
      <div class="col-xlg-3 col-xl-3 col-lg-3 col-sm-4 col-3">
        <!-- <traffic-chart></traffic-chart> -->
        <div id="myc3chart"></div>
      </div>
      <div class="col-sm-4">
        <table class="table table-striped" style="display:block;height:300px; overflow-y:scroll; font-size:12px;">
          <thead>
            <tr style="background-color:#ddd">
              <th style="width: 60%">
                Name
              </th>
              <th style="width: 20%">
                Value
              </th>
              <th style="width: 20%">
                Percentage
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Resolved & Classified</td>
              <td>123456</td>
              <td>44%</td>
            </tr>
            <tr>
              <td>Not Resolved but Classified</td>
              <td>123456</td>
              <td>64%</td>
            </tr>
            <tr>
              <td>Neither Resolved Nor Classified</td>
              <td>123456</td>
              <td>44%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-4">
        <!-- <stack-chart></stack-chart> -->
        <div id="barchart"></div>

      </div>
    </div>
  </ba-card>
</div>

<div class="row">
  <ba-card class="col-xlg-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3" cardTitle="Batch Analysis">
    <div class="widgets">
      <table class="table table-striped table-bordered table-hover" style="display:block;height:400px; overflow-y:scroll">
        <thead>
          <tr style="background-color:#ddd">
            <th style="width: 30%">
              Name
            </th>
            <th style="width: 40%">
              Value
            </th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>NPD Batch ID</td>
            <td>123456</td>
          </tr>
          <tr>
            <td>EDH Batch ID</td>
            <td>123456</td>
          </tr>
          <tr>
            <td>Start Time</td>
            <td>7/12/2017 10:20:02 AM</td>
          </tr>
          <tr>
            <td>End Time</td>
            <td>7/12/2017 10:20:02 AM</td>
          </tr>
          <tr>
            <td>ETA</td>
            <td>10:20:02 AM</td>
          </tr>

        </tbody>
      </table>
    </div>
  </ba-card>
  <ba-card class="col-xlg-9 col-xl-9 col-lg-9 col-md-9 col-sm-9 col-9" cardTitle="dashboard.data_quality">
    <div class="widgets">
      <table class="table table-striped" style="display:block;height:400px; overflow-y:scroll">
        <thead>
          <tr style="background-color:#ddd">
            <th style="width: 30%" class="text-left">
              Asset Used
            </th>
            <th style="width: 40%">
              File Used
            </th>
            <th style="width: 10%">
              MD5 CheckSum
            </th>
            <th style="width: 10%">
              Record Count Match
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of getDqMetrics() | ObjectFor">
            <td class="text-left">{{item.key}}</td>
            <td class="text-left">{{item['Files used']}}</td>
            <td class="text-center"><input type="checkbox" [checked]="isValidMD5(item)" /></td>
            <td class="text-center"><input type="checkbox" [checked]="isValidRC(item)" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </ba-card>

</div>

<div class="row shift-up">

</div>
